{% extends "base.html" %}{% block title %}Ваш бонус от FITNATION{% endblock %}{% block content %}
<p style="font-size:18px;font-weight:600;line-height:1.5;">{{ recipient_name }}, добрый день! Это FITNATION!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Надеемся, что Вы уже освоились в клубе и вовсю тренируетесь на пути к своей цели!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">А мы, для поддержания Вас, дарим дополнительно 200 баллов в мобильном приложении, которые можно потратить в разделе Магазин. Покажите данное сообщение администратору для начисления бонуса 🎁</p>
{% endblock %}
