{% extends "base.html" %}{% block title %}Абонемент закончится через 4 дня{% endblock %}{% block content %}
<p style="font-size:18px;font-weight:600;line-height:1.5;">{{ recipient_name }}, добрый день! Это FITNATION!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Напоминаем Вам, что ваш абонемент подходит к завершению. Будем рады предложить новый абонемент или переход на тариф подписки. Уточните, какой вариант рассматриваете?</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Рады, что остаетесь с нами!<br>Если возникнут вопросы, напишите нам <strong style="color:#A92B83;">ссылка на ТГ сервис</strong></p>
{% endblock %}
