{% extends "base.html" %}{% block title %}Вернитесь в FITNATION{% endblock %}{% block content %}
<p style="font-size:18px;font-weight:600;line-height:1.5;">{{ recipient_name }}, добрый день! Это FITNATION!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Не удалось до Вас дозвониться. Срок действия Вашего абонемента подошел к концу и доступ в клуб органичен. Продолжайте тренировки на выгодных услових. Подбробности у администратора, напишите нам <strong style="color:#A92B83;">ссылка на ТГ сервис</strong></p>
{% endblock %}
