{% extends "base.html" %}{% block title %}Платёж ожидает 5 дней{% endblock %}{% block content %}
<p style="font-size:18px;font-weight:600;line-height:1.5;">{{ recipient_name }}, добрый день!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Хотим подчеркнуть, что расторгнув контракт, Вы можете потерять свой выгодный тариф, а так же при оформлении нового абонемента потребуется повторно оплачивать вступительный взнос. Оставайтесь с нами, для решения любых вопросов напишите нам <a href="{{ support_url }}" style="color:#A92B83;font-weight:bold;">ссылка на ТГ сервис</a></p>
{% endblock %}
