{% extends "base.html" %}{% block title %}Важно: платёж просрочен{% endblock %}{% block content %}
<p style="font-size:18px;font-weight:600;line-height:1.5;">{{ recipient_name }}, добрый день! Это FITNATION!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Вновь не дозвонились Вам. Еще есть возможность продлить Ваш контракт, оплатите сейчас, чтобы не переплачивать в будущем. Обратитесь к администратору или напиши нам <a href="{{ support_url }}" style="color:#A92B83;font-weight:bold;">ссылка на ТГ сервис</a></p>
{% endblock %}
