{% extends "base.html" %}{% block title %}Автоматическое списание через 3 дня{% endblock %}{% block content %}
<p style="font-size:18px;font-weight:600;line-height:1.5;">{{ recipient_name }}, добрый день! Это FITNATION!</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Напоминаем Вам, что по вашему контракту <strong>формата подписки</strong>, через 3 дня, произойдет <strong>автоматическое списание</strong> для продления посещений клуба.</p>
<p style="font-size:18px;font-weight:600;line-height:1.5;">Рады, что остаетесь с нами!<br>Если возникнут вопросы, напишите нам <strong style="color:#A92B83;">ссылка на ТГ сервис</strong></p>
{% endblock %}
